# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint

# Build
build/

# Swift Package Manager
.build/
Packages/

# Xcode user-specific workspace
*.xcworkspace/xcuserdata/
